/* _content/PaymentApp/Views/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-7ex1ks9ald] {
  white-space: normal;
  text-align: center;
}

.border-top[b-7ex1ks9ald] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7ex1ks9ald] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7ex1ks9ald] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer[b-7ex1ks9ald] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
